body {
    background: linear-gradient(to bottom, #e27396, #ff9a9e, #fad0c4);
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 16px 64px;
    position: relative;
}


.enlaces {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    transition: all 0.5s ease; 
}

.enlaces li {
    margin-left: 24px;
}

.enlaces a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding: 8px 24px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.enlaces a:hover {
    background-color:#e61658;
}

.iconos {
    width: 90px;
    display: none;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-left: auto;
    position: relative;
    z-index: 1;
}

.linea {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 4px 0px;
    transition: all 0.3s ease;
}

#menu {
    display: none;
}

@media(max-width: 720px) {
    .navbar {
        padding: 16px;
        flex-direction: column;
        align-items: flex-start;
    }

    .iconos {
        display: flex;
    }

    .enlaces {
        position: absolute;
        top: 70px;
        right: 0;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        flex-direction: column;
        background-color:#e27396;
        border-radius: 10px;
        text-align: center;
        transition: max-height 0.5s ease-in-out;
    }

    .enlaces li {
        margin: 0;
        padding: 20px 0px;
        width: 100%;
    }

    .enlaces a {
        width: 100%;
        padding: 10px 10px;
    }

    #menu:checked + .iconos + .enlaces {
        max-height: 300px;
    }

    #menu:checked + .iconos .linea:nth-child(1) {
        transform: rotate(45deg) translate(15px, 3px);
    }

    #menu:checked + .iconos .linea:nth-child(2) {
        transform: scale(0);
    }

    #menu:checked + .iconos .linea:nth-child(3) {
        transform: rotate(-45deg) translate(11px, -4px);
    }
}


ul {
    display: flex; /* Poner las imágenes en línea */
    flex-wrap: wrap; /* Permitir que bajen a otra fila si no caben */
    justify-content: center; /* Centrar las imágenes horizontalmente */
    gap: 10px; /* Espaciado entre tarjetas */
    padding: 0;
    list-style: none; /* Quitar los puntos de la lista */

}

ul a {
    background: #ff9a9e
    ; /* Fondo blanco para cada producto */
    border: 2px solid #e27396; /* Borde con color */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 15px; /* Espaciado interno */
    margin: 15px; /* Espaciado entre productos */
    text-align: center; /* Centrar el contenido */
    width: 180px; /* Ancho fijo para cada producto */
}

p{
    font-weight: bold;
    text-align: center;
}
h1 {
    font-family: "Cedarville Cursive", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
  }
